@{
    ViewBag.Title = "PHYESA - Online Auto Parts Shop";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <div class="row">
        <div class="col-md-12">
            <center>
                <img class="img-responsive" src="~/Images/phiyesa_brand_logo.png" />
            </center>
        </div>
    </div>

</div>

<div class="row">
    @{
        string[] partCategoryNames = ViewBag.PartCategories;
        string[,] partSubCategoryNames = ViewBag.PartSubCategories;
        string[] partStyleClass = ViewBag.PartStyleClass;

        for (int box = 0; box < 4; box++)
        {
            <div class="col-md-3">
                <div class="part_div_01 @partStyleClass[box]">
                    <h3>@partCategoryNames[box]</h3>
                    <ul class="ul_parts">
                        @for (int psub = 0; psub < 3; psub++)
                        {
                            <li>@partSubCategoryNames[box,psub]</li>
                        }
                    </ul>

                    <br />

                    <a class="btn btn-info part_button" href="#">All parts &raquo;</a>

                </div>
            </div>
        }
    }


</div>