@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <div class="row">
        <div class="col-md-12">
            <center>
                <img class="img-responsive" src="~/Images/phiyesa_brand_logo.png" />
            </center>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="part_div_01">
            <h3>Engine System</h3>
            <ul>
                <li>Belt Drive</li>
                <li>Engine Timing Control</li>
                <li>Engine Electric</li>
            </ul>
            <br /><br />
            <a class="btn btn-info" href="#">All parts &raquo;</a>
        </div>
    </div>


    <div class="col-md-3">
        <div class="part_div_01 part_div_02">
            <h3>Brake System</h3>
            <ul>
                <li>Disk Brake</li>
                <li>Drum Brake</li>
                <li>Brake Calipers and Parts</li>
            </ul>
            <br /><br />
            <a class="btn btn-info" href="#">All parts &raquo;</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="part_div_01 part_div_03">
            <h3>Transmission and Gears</h3>
            <ul>
                <li>Clutch Parts</li>
                <li>CV Joints Set</li>
                <li>Bellow</li>
            </ul>
            <br /><br />
            <a class="btn btn-info" href="#">All parts &raquo;</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="part_div_01 part_div_04">
            <h3>Suspension and Steering</h3>
            <ul>
                <li>Suspension</li>
                <li>Steering</li>
                <li>Axle Mouting</li>
            </ul>
            <br /><br />
            <a class="btn btn-info" href="#">All parts &raquo;</a>
        </div>
    </div>
</div>